/* Enter your custom styles here */
.logo-header{
	width: 50%;	
}

.BackgroundTheme {
    background-image: url("../data/home-banner-3.jpg") !important;
    
    background-size: cover;
    width: 100% !important;
    height: 100% !important;
    opacity: 0.9 !important;
}